<a href="https://colab.research.google.com/github/Gabrielklein22/Codigos-python-Prog-Ciencias-Dados-4sem/blob/main/Aula_Inicial_de_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Isso aqui é um comentario

In [ ]:
# Print duplo normal
print("Teste 1");
print("Teste 2");
print() # print Vazio pula uma linha

# Print duplo separado por Ponto e virgula(;)
print("Teste 1"); print("Teste 2");

Teste 1
Teste 2

Teste 1
Teste 2

In [ ]:
#Strings

print("Texto")
print('Texto')
print("'Texto'")
print("""Texto em mais de
uma linha com aspas dupla""")

Texto
Texto
'Texto'
Texto em mais de
uma linha com aspas dupla

In [ ]:
# Quebra de linha com tres aspas simples
print('''Eu gosto de voce sua
louca das ideia''');

Eu gosto de voce sua
louca das ideia

In [ ]:
# Quebra de linha com  \n
print('Eu gosto de voce sua\n louca das ideia');

Eu gosto de voce sua
 louca das ideia

In [ ]:
# Concatenação com multiplas Linhas
print('Amor \n' *5 + 'Te amo');

Amor
Amor
Amor
Amor
Amor
Te amo

In [ ]:
# Concatenação com numeros
print('1' +'.000' * 5);

1.000.000.000.000.000

In [ ]:
# Variaveis com atribuição dinamica

a = "Texto"
b = 7
c = 5.5
print(type(a))
print(type(b)) # Printa o tipo da variavel, string, int, float, dooble
print(type(c))

print()
# Variaveis com atribuição multipla

d, e, f = "Texto", 7, 5.5
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
#teste de variavel
a, b, c = "Amor", 5, 5.5
a=10
print(type(a));

<class 'int'>

In [ ]:
#listas
#Lista vasia
a = [] # AS LISTAS OU VETORES SÃO ATRIBUIDOS COM COLCHETES[]
print(type(1))
print(a)

# O vetor
a = [10, 15, 20, 25, 30]
#printa o vetor
print(1)

#printa o valor da lista por casa
print(a[0])
print (a[4])

#printa quantas casas tem na lista
print(len(a))

#altera o valor da lista
a[0] = 8
print(a)

<class 'int'>
[]
1
10
30
5
[8, 15, 20, 25, 30]

In [ ]:
# Listas - Dados Heterogenio

a= [3, 7.5, "Texto"] #lista com numeros e strings
print(a)

print(type(a))
print(type(a[0]))
print(type(a[1])) # printa o tipo da lista
print(type(a[2]))

[3, 7.5, 'Texto']
<class 'list'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Listas - Operador aditivo

a = [10, 15, 20, 25, 30]
b = [3, 7.5, "Texto"]

r = a[0] + b [1] # vai somar o valor da casa 0 da lista (A) e o valor da casa 1 da lista (B)
print(r) #printa o resultado

print(type(r))

som = a + b # Vai somar a lista (A) e a lista (B)
print(som) #printa o resultado da lista A + B
print (type(som)) #printa o tipo da lista

17.5
<class 'float'>
[10, 15, 20, 25, 30, 3, 7.5, 'Texto']
<class 'list'>

In [ ]:
# Listas - Operador multiplicativo

a = [10, 15] * 3 #multiplica por 3 a lista
b = [2] * 3
c = [1, 2] * 3 *3 # a lista é multiplicada por 9

print(a)
print(b)
print(c)

[10, 15, 10, 15, 10, 15]
[2, 2, 2]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
# Listas - String para Lista

a = "AMOR" # Dados que vai ter na lista string
b = list(a) # esse comando ou metodo cria a lista
print(b)

['A', 'M', 'O', 'R']

In [ ]:
# Listas - Fatiamento

a = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23] # lista

# a=[inicio : final -1]

print(a[0 : 3]) #elementos de 0 a 2 explo: [0, 1, 2]

print(a[ : 5]) #elemento da casa 0 até a casa 4 explo: [0, 1, 2, 3, 4]

print(a[5 : ]) # elementos da casa 5 até o final da lista


# a = [inicio : final -1 : passo]

print(a[0 : 8 : 3]) # Elementos de 0 a 7 e retorna o primeiro a cada 3

print (a[ : : 4]) # Toda a lista e rotorna o primeiro a cada 4

[1, 3, 5]
[1, 3, 5, 7, 9]
[11, 13, 15, 17, 19, 21, 23]
[1, 7, 13]
[1, 9, 17]

In [ ]:
#Listas - operador in

a = [1, 2, 3]

print(4 in a) # O numero 4 esta na lista (a)? false or true
print(3 in a)

False
True

In [ ]:
#Listas - Vinculação

a = [2, 4, 8]
b = a # atribui a lista (a) para a lista (b)

c = a.copy() #copia a lista a para c

b[0] = 888
c[0] = 999

print(id(a), " ", a)
print(id(b), " ", b)
print(id(c), " ", c)

133587509835456   [888, 4, 8]
133587509835456   [888, 4, 8]
133587509830656   [999, 4, 8]

In [ ]:
#Listas - aninhadas

a = [[1, 2, 3], [4, 5, 6]] # duas listas aninhads
print(a) # printa a lista (a)
print(a[0]) # printa a lista da casa 0
print(a[1]) # Printa a lista da casa 1
print('') # pula uma linha
print(a[1][2])
print('')

x = [7, 8, 9, 10]

a.append(x) # Esse metodo adiciona na lista (a) a Lista (x)
print(a)

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
[4, 5, 6]

6

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [ ]:
#Listas - aninhadas (ex: profundidade 4)

a = [[1, 2, ['3.1', '3.2', ['3.3.1', ['3.3.2.1', '3.3.2.2'],'3.3.3']]], [4, 5, 6]]
print(a)
print(a[0])
print(a[0][2])
print(a[0][2][2])
print(a[0][2][2][1])

[[1, 2, ['3.1', '3.2', ['3.3.1', ['3.3.2.1', '3.3.2.2'], '3.3.3']]], [4, 5, 6]]
[1, 2, ['3.1', '3.2', ['3.3.1', ['3.3.2.1', '3.3.2.2'], '3.3.3']]]
['3.1', '3.2', ['3.3.1', ['3.3.2.1', '3.3.2.2'], '3.3.3']]
['3.3.1', ['3.3.2.1', '3.3.2.2'], '3.3.3']
['3.3.2.1', '3.3.2.2']

In [ ]:
# Tulpas

t = () #TULPAS PODEM SER ATRIBUIDAS COM PARENTESES OU SEM

print(t)
print(len(t))
print(type(t))

print('')
print('------------------')

t = (1, 2, 3) #tulpa com parenteses()
t2 = 1, 2, 3 #tulpa sem parenteses

print(t)
print(t2)
print(type(t2))

print('')
print('------------------')

t = (1)
t2 = 1,

print(type(t), " ", t)
print(type(t2), " ", t2)

()
0
<class 'tuple'>

------------------
(1, 2, 3)
(1, 2, 3)
<class 'tuple'>

------------------
<class 'int'>   1
<class 'tuple'>   (1,)

In [ ]:
# Conjuntos (set)

a = {1, 2, 3, 4, 5,} # os conjuntos são atribuidos atraves de chaves{}
print(a)
print(type(a))

b = set("123456") #faz uma string virar um conjunto com ordem aleatoria
print(b) # Printa em ordem aleatoria

print(sorted(b)) # printa em ordem cresente
print(type(b))

print('')

c = {"123456"}
print(c)
print(type(c))

print('')

d = {}
print(d)
print(type(d))

print('')

d = set()
print(d)
print(type(d))

{1, 2, 3, 4, 5}
<class 'set'>
{'4', '2', '3', '5', '6', '1'}
['1', '2', '3', '4', '5', '6']
<class 'set'>

{'123456'}
<class 'set'>

{}
<class 'dict'>

set()
<class 'set'>

In [ ]:
# Dicionários (set)

a = {442: 'Elemento 442', 553:'Elemento 553'}
print(type(a), ' ', a)

print(a[442])
print(a[553])

a[337] = 'Elemento 337'
print(a)

a['ab'] = (2,4,6)
print(a)

<class 'dict'>   {442: 'Elemento 442', 553: 'Elemento 553'}
Elemento 442
Elemento 553
{442: 'Elemento 442', 553: 'Elemento 553', 337: 'Elemento 337'}
{442: 'Elemento 442', 553: 'Elemento 553', 337: 'Elemento 337', 'ab': (2, 4, 6)}

In [ ]:
#Funções

def soma (x, y): #abre a função

# tem que ter um tab apartir desse ponto, até o fim da função

      r = x + y #conteudo de dentro da função
      return  r # termino da função

# não precisa mais do tab

s = soma(8, 2) #Retorna a função
print("s =", s)

s = 10

In [ ]:
# Atividae 1 -

# Crie dois conjuntos de dados e apresente os resultados das operações de união,
# intersecção e diferença. Os conjuntos devem possuir no mínimo 8 elementos

a = {1, 2, 3, 4, 5, 6, 7, 8}
b = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

#União
print("União de A com B é:", a | b)

print('')

#intersecção
print("Intersecção de B com A", b & a)

print('')

#Diferença
print("Diferença de B com A", b - a)

União de A com B é: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

Intersecção de B com A {1, 2, 3, 4, 5, 6, 7, 8}

Diferença de B com A {9, 10, 11, 12, 13, 14, 15, 16}

In [4]:
# Atividade - 2

# Crie uma lista com 10 elementos numéricos e apresente:
# a lista;
# o tamanho da lista;
# a lista ordenada de forma crescente;
# a lista ordenada de forma decrescente;
# os primeiros 4 elementos da lista;
# os últimos 2 elementos da lista;
# todos os elementos com exceção do primeiro e do último;
# o primeiro a cada dois elementos de toda a lista;
# se existe o número 5

a = [42, 17, 89, 5, 64, 33, 9, 76, 21, 50]

print("Lista =", a)
print("Tamanho =", len(a))
print("Crescente =", sorted(a))
dec = sorted(a, reverse=True) #Transforma a lista em decrescente
print("Decrescente =", dec)
print("Os 4 primeiros elemento da lista:", a[: 4])
print("os últimos 2 elementos da lista:", a[-2:])
print("todos os elementos com exceção do primeiro e do último:", a[1:-1])
print("o primeiro a cada dois elementos de toda a lista:", a[::2])
print("Existe o numero 5? ", 5 in a)

Lista = [42, 17, 89, 5, 64, 33, 9, 76, 21, 50]
Tamanho = 10
Crescente = [5, 9, 17, 21, 33, 42, 50, 64, 76, 89]
Decrescente = [89, 76, 64, 50, 42, 33, 21, 17, 9, 5]
Os 4 primeiros elemento da lista: [42, 17, 89, 5]
os últimos 2 elementos da lista: [21, 50]
todos os elementos com exceção do primeiro e do último: [17, 89, 5, 64, 33, 9, 76, 21]
o primeiro a cada dois elementos de toda a lista: [42, 89, 64, 9, 21]
Existe o numero 5?  True